/* Importation de la police Poppins depuis Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Réinitialisation des marges et des paddings pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    font-family: 'Poppins', sans-serif; /* Application de la police Poppins */
}

/* Styles généraux pour les sections */
section {
    position: relative; /* Position relative pour le placement des éléments enfants */
    width: 100%; /* Largeur de la section */
    min-height: 100vh; /* Hauteur minimale de la section */
    padding: 100px; /* Padding autour de la section */
    display: flex; /* Utilisation de flexbox pour la disposition */
    justify-content: space-between; /* Espacement des éléments enfants */
    align-items: center; /* Centrer le contenu verticalement */
    background: #fff; /* Couleur de fond blanche */
}

/* Styles pour l'en-tête */
header {
    position: absolute; /* Position absolue pour le garder en haut */
    width: 100%; /* Largeur de l'en-tête */
    padding: 20px 100px; /* Espacement à l'intérieur de l'en-tête */
    display: flex; /* Utilisation de flexbox pour la disposition */
    top: 0; /* Positionné en haut */
    left: 0; /* Aligné à gauche */
    justify-content: space-between; /* Espacement des éléments enfants */
    align-items: center; /* Centrer le contenu verticalement */
}

/* Styles pour le logo dans l'en-tête */
header .logo {
    max-width: 100px; /* Largeur maximale du logo */
    position: relative; /* Position relative pour le logo */
}

/* Styles pour la liste de navigation dans l'en-tête */
header ul {
    display: flex; /* Utilisation de flexbox pour la liste */
}

header ul li {
    list-style: none; /* Supprime les puces de la liste */
}

/* Styles pour les liens de navigation */
header ul li a {
    display: inline-block; /* Affichage en bloc pour permettre le padding */
    color: #b73816; /* Couleur du texte */
    font-weight: 500; /* Poids de la police */
    margin-left: 40px; /* Marge à gauche entre les liens */
    text-decoration: none; /* Pas de soulignement */
    background: white; /* Couleur de fond */
    border-radius: 40px; /* Coins arrondis */
    letter-spacing: 1px; /* Espacement des lettres */
    font-weight: 900; /* Poids de la police */
    padding: 8px 20px; /* Espacement interne des liens */
}

/* Styles pour le contenu principal */
.content {
    width: 100%; /* Prend toute la largeur */
    position: relative; /* Position relative pour le placement des éléments enfants */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-between; /* Espacement des éléments enfants */
    display: flex; /* Utilisation de flexbox pour la disposition */
}

/* Styles pour la boîte de texte dans le contenu */
.content .textBox {
    position: relative; /* Position relative pour le texte */
    max-width: 600px; /* Largeur maximale de la boîte de texte */
}

/* Styles pour le titre dans la boîte de texte */
.content .textBox h2 {
    color: #333; /* Couleur du texte */
    font-size: 4em; /* Taille de la police */
    line-height: 1.4em; /* Hauteur de ligne */
    font-weight: 500; /* Poids de la police */
}

/* Styles pour le texte en surbrillance dans le titre */
.content .textBox h2 span {
    color: #b73816; /* Couleur du texte en surbrillance */
    font-size: 1.2em; /* Taille de la police */
    font-weight: 900; /* Poids de la police */
}

/* Styles pour le paragraphe dans la boîte de texte */
.content .textBox p {
    color: #333; /* Couleur du texte */
}

/* Styles pour le lien dans la boîte de texte */
.content .textBox a {
    display: inline-block; /* Affichage en bloc pour permettre le padding */
    margin-top: 20px; /* Marge au-dessus du lien */
    padding: 8px 20px; /* Espacement interne du lien */
    background: #b73816; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border-radius: 40px; /* Coins arrondis */
    font-weight: 500; /* Poids de la police */
    letter-spacing: 1px; /* Espacement des lettres */
    text-decoration: none; /* Pas de soulignement */
}

/* Styles pour la boîte d'image dans le contenu */
.content .imgBox {
    width: 600px; /* Largeur de la boîte d'image */
    display: flex; /* Utilisation de flexbox pour la disposition */
    justify-content: flex-end; /* Aligne l'image à droite */
    padding-right: 50px; /* Espacement à droite */
    margin-top: 50px; /* Marge au-dessus de la boîte d'image */
}

/* Styles pour l'image dans la boîte d'image */
.content .imgBox img {
    max-width: 340px; /* Largeur maximale de l'image */
}

/* Styles pour la liste des vignettes */
.thumb {
    position: absolute; /* Position absolue pour la liste des vignettes */
    left: 50%; /* Centré horizontalement */
    bottom: 20px; /* Positionné en bas */
    transform: translateX(-50%); /* Ajuste le centrage */
    display: flex; /* Utilisation de flexbox pour la disposition */
}

/* Styles pour les éléments de la liste des vignettes */
.thumb li {
    list-style: none; /* Supprime les puces de la liste */
    display: inline-block; /* Affichage en ligne */
    margin: 0 20px; /* Marge à gauche et à droite */
    cursor: pointer; /* Change le curseur pour indiquer que l'élément est cliquable */
    transition: 0.5s; /* Transition pour les effets d'animation */
    margin-top: auto; /* Permet d'aligner les éléments en bas */
}

/* Effet de survol pour les vignettes */
.thumb li:hover {
    transform: translateY(-15px); /* Déplace l'élément vers le haut au survol */
}

/* Styles pour les images dans la liste des vignettes */
.thumb li img {
    max-width: 90px; /* Largeur maximale des vignettes */
}

/* Styles pour le conteneur de produits tendance */
.container py-5 row py-5 col-lg-5 m-auto text-center h1 {
    font-weight: 700; /* Poids de la police pour le titre */
}   
